.scroll-main {
  overflow-y: scroll;
  overflow: hidden;
}
body {
  background-color: weat;
}
/* pythagoria */

     .angle {
         clip-path: polygon(0% 100%, 100% 100%, 0 0);
         width: 150px;
         height: 180px;
         position: absolute;
         background: radial-gradient(wheat, green);
         margin-top: 80px;
         left: 110px;
     }


/* calculator holder solve */

/* calculator holder solve */
